<!-- 
<div class="container-fluid navbar_principal ">
 <form action="">
    <div class="row mx-5">
        <div class="col">
            <button type="button" class="btn btn-success my-3">+ Nueva Tarea</button>              
        </div>
    </div>
    <div class="row mx-5">
        <div class="col">
            <input class="input_titulo" type="text" ngModel="income-task" name="income-task" placeholder="Titulo*">
        </div>
        <div class="col">
            <div class="form-check">
                <label class="form-check-label" for="flexCheckDefault">
                    Tarea Completada 
                </label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-light btn_guardar"><strong>+ Guardar Tarea</strong></button>

        </div>
    </div>
 </form>
</div> -->
