<!-- <div class="container-fluid d-flex justify-content-around  my-5">
    <div class="row ">
      <div class="col">
        <h2>
          <img
            src="https://cdn-icons-png.flaticon.com/512/4394/4394562.png"
            width="30px"
            alt=""/>
          Lista de tareas
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 inpunt-busqueda"
            type="search"
            placeholder="Buscar..."
            aria-label="Search"/>
          <button class="btn btn-outline-primary btn-busqueda" type="submit">
            <img
              src="https://cdn-icons-png.flaticon.com/512/639/639375.png"
              width="30px"
              alt=""/>
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container tabla-tareas">
    <div class="row">
      <div class="col my-3"><p>id</p></div>
      <div class="col my-3"><p>mis tareas</p></div>
      <div class="col my-3 ">
        <div class="col">
            <p>Completado</p>
         <div class="form-check ">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"/>
          <label class="form-check-label" for="flexCheckDefault"> </label>
         </div>
        <div class="form-check" >
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"/>
          <label class="form-check-label" for="flexCheckDefault"> </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"/>
          <label class="form-check-label" for="flexCheckDefault"> </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"/>
          <label class="form-check-label" for="flexCheckDefault"> </label>
        </div>
        </div>
        
      </div>
      <div class="col my-3"><p>Borrar</p>
        <div>
          <button class="btn-borrar my-3">
            <img
              src="https://cdn-icons-png.flaticon.com/512/216/216658.png"
              width="22px"
              alt=""/>
          </button>
        </div>
        <div>
          <button class="btn-borrar my-3">
            <img
              src="https://cdn-icons-png.flaticon.com/512/216/216658.png"
              width="22px"
              alt=""/>
          </button>
        </div>
        <div>
          <button class="btn-borrar my-3">
            <img
              src="https://cdn-icons-png.flaticon.com/512/216/216658.png"
              width="22px"
              alt=""/>
          </button>
        </div>
        <div>
          <button class="btn-borrar my-3">
            <img
              src="https://cdn-icons-png.flaticon.com/512/216/216658.png"
              width="22px"
              alt=""/>
          </button>
        </div>
        <div>
          <button class="btn-borrar my-3">
            <img
              src="https://cdn-icons-png.flaticon.com/512/216/216658.png"
              width="22px"
              alt=""/>
          </button>
        </div>
      </div>
    </div>
    
  </div>
   -->