.navbar_principal{
    height: 150px;
    background-color: #46c7c7;
}

.btn-success{
    background-color: #46c7c7 !important; 
    border: none;
}

.input_titulo{
    background-color: #46c7c7 !important; 
    border: none;
    height: 40px;
    font-size: 20px;
}

.btn_guardar{
    height: 55px;
    width: 300px;
    border-radius: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
}
.inpunt-busqueda{
    height: 70px;
    width: 500px;
    border-radius: 35px;
}

.btn-busqueda{
    border: none;
}

h2{
    color: #46c7c7;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Saira Condensed', sans-serif;

}

.inpunt-busqueda{
    border: 1px solid #46c7c7;
    box-shadow: 1px 1px 1px 1px #46c7c7;
}

.tabla-tareas{
    border: none;
    box-shadow: 1px 1px 1px 1px #c3c5c5;
}

td, .form-check{
    height: 55px;
    width: 200px;
}
.btn-borrar{
    border: none;
    opacity: 1;
}